<fieldset class="w-50 m-3">
  <legend></legend>
  <div>
    <div class="form-group">
      <label for="name">Charity Name</label>
      <input class="form-control" id="name" type="text" value="" name="name" required />
    </div>
    <div class="form-group">
      <label for="website">Charity Website</label>
      <input class="form-control" id="website" type="url" value="" name="website" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        class="form-control"
        id="description"
        type="text"
        value=""
        name="description"
        required
      />
    </div>
  </div>
</fieldset>
