<nav class="navbar navbar-default bg-secondary navbar-fixed-top p-3">
  <div class="container-fluid">
    <div class="">
      <a class="navbar-brand text-light text-center" href="/">My Giving Tracker</a>
    </div>
    <a href="/donations/view" class="btn btn-default navbar-btn bg-info text-light"
      >View All Donations</a
    >
    <div class="pull-right">
      <a href="/donations/new" class="btn btn-default navbar-btn bg-info text-light mx-5"
        >Add Donation</a
      >
      <!-- <a href="/charity/new" class="btn btn-default navbar-btn bg-info text-light">Add Charity</a> -->
    </div>
  </div>
</nav>
